/*============================================================================================================================================================================================================================================
Block Styles:
============================================================================================================================================================================================================================================*/

// --------------------------------------------------------------------------------------------------------------------
// Header blocks
// --------------------------------------------------------------------------------------------------------------------
.header-block {

  &:first-of-type {
    margin: 0 0 ms(2);

    @include breakPoint(md) {
      margin: 0;
    }
  }
}
// --------------------------------------------------------------------------------------------------------------------
// End Header blocks
// --------------------------------------------------------------------------------------------------------------------

// --------------------------------------------------------------------------------------------------------------------
// Todo
// --------------------------------------------------------------------------------------------------------------------
.todo {
  @include todoTheme;
  @include transition(transform $macroTransition $macroEase, opacity $macroTransition $macroEase);
  @include transition(transform $macroTransition $macroEase, opacity $macroTransition $macroEase);
  @include staggerTransition(100, $delay, $delay/2);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-between;
  margin: 0 0 ms(2);
  max-height: 30em;
  overflow: hidden;
  transform: translate3d(0,0,0);
  width: 100%;

  @include breakPoint(sm) {
    flex-direction: row;
  }

  @include breakPoint(md) {
    max-height: 15em;
    //min-height: 9.5rem;
  }

  &.todo-list-enter {
    opacity: 0;
    transform: translateX(-15%);
  }

  &.todo-list-enter-active {
    opacity: 1;
    transform: translateX(0%);
  }

  &.todo-list-leave {
    opacity: 1;
    transform: translateX(0%);
  }

  &.todo-list-leave-active {
    opacity: 0;
    transform: translateX(15%);
  }

  &-info {
    border: $lineWeight solid $typeColor;
    padding: ms(0);
    min-height: 1px; // hack to fix the todo from loading in colapsed on mobile devices
    width: 100%;

    @include breakPoint(sm) {
      width: 75%;
    }

    @include breakPoint(lg) {
      width: 85%;
    }
  }

  &-primary-action {
    border: $lineWeight solid $typeColor;
    border-top: none;
    display: flex;

    @include breakPoint(sm) {
      border-top: $lineWeight solid $typeColor;
      border-left: none;
      width: 25%;
    }

    @include breakPoint(lg) {
      width: 15%;
    }
  }
}
// --------------------------------------------------------------------------------------------------------------------
// End Todo
// --------------------------------------------------------------------------------------------------------------------

// --------------------------------------------------------------------------------------------------------------------
// Message
// --------------------------------------------------------------------------------------------------------------------
.message {
  @include transition(max-height $macroTransition $macroEase);
  height: auto;
  max-height: 0em;
  overflow: hidden;
  visibility: hidden;
  width: 100%;

  &--urgent {
    background: $urgent;
  }

  &--sucess {
    background: $sucess;
  }

  &.active {
    max-height: 5em;
    visibility: visible;
  }

  p {
    color: $white;
    display: block;
    font-size: ms(0);
    font-weight: $headline;
    padding: ms(-2);
    text-align: center;
  }
}
// --------------------------------------------------------------------------------------------------------------------
// End Message
// --------------------------------------------------------------------------------------------------------------------

// --------------------------------------------------------------------------------------------------------------------
// todo Panel due date
// --------------------------------------------------------------------------------------------------------------------
.todo-panel-due-date {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 0 ms(4);
  width: 100%;

  &.error {
    background: $red;
  }

  label {
    font-size: ms(1);
    position: relative;
    width: calc(100% - 6em);
    z-index: $z1;

    &[for="todo-due-day"] {
      width: 6em;
    }

    .text {
      display: block;
      margin: 0 0 ms(-4);
    }
  }

  label:before {
    border-style: solid;
    border-width: .25em .25em 0 .25em;
    border-color: $typeColor transparent transparent;
    bottom: 1.2em;
    content: '';
    height: 0;
    position: absolute;
    right: 8%;
    width: 0;
  }
}
// --------------------------------------------------------------------------------------------------------------------
// End Todo Panel due date
// --------------------------------------------------------------------------------------------------------------------

// --------------------------------------------------------------------------------------------------------------------
// Footer blocks
// --------------------------------------------------------------------------------------------------------------------
.footer-copyright {
  display: flex;
  justify-content: space-between;
}
// --------------------------------------------------------------------------------------------------------------------
// End Footer blocks
// --------------------------------------------------------------------------------------------------------------------
