/*============================================================================================================================================================================================================================================
Element Styles:
============================================================================================================================================================================================================================================*/

// --------------------------------------------------------------------------------------------------------------------
// Header block elements
// --------------------------------------------------------------------------------------------------------------------
.header-block__logo {
  font-size: ms(3);
  font-weight: $headline;
  line-height: 1;
}

.js-load-completed-todo {
  min-width: 11.5em;
}
// --------------------------------------------------------------------------------------------------------------------
// Header block elements
// --------------------------------------------------------------------------------------------------------------------
